.WrapAboutPage0ne{
    top: 2607px;
    left: 83px;
}
.AboutOne{
    background-image: url("AboutPage1.png");
}
.WrapAboutPageTwo{
    top: 2607px;
    left: 1449px;
}
.AboutTwo{
    background-image: url("AboutPage3.png");
}
.WrapAboutPageThree{
    top: 2607px;
    left: 2815px;
}
.AboutThree{
    background-image: url("AboutPage2.png");
}